# Environment Variables
.env
.env.*

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Databases
chroma_db/
*.sqlite3
*.db

# Data (Don't copy giant medical PDFs or models into the container by default)
data/
models/

# Git and OS
.git/
.github/
.DS_Store

# Virtual Environments
venv/
.venv/
env/
ENV/
